body {
    background-image: url("Arizona_Cardinals_logo.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.mainTitle {
    font-family: 'Crimson Text', 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 90px;
}

.titleBackground {
    background-color: #97233f;
    padding: 80px;
}

.btn-primary {
    background-color: #97233f;
    color: white;
    margin-top: 60px;
    padding: 20px;
}

.question-display {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color:black;
    color: #97233f;
}